div {
  border: #d0d0d0 10px;
}
svg {
  user-select: none;
}

input {
  font-size: 24px;
  text-align: right;
}

.fixedNum {
  animation-iteration-count: 3
}

.size4 {
  font-size: 8px;
}

.size10 {
  font-size: 10px;
}

.size20 {
  font-size: 16px;
}
